.main_menu {
    width: 350px;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    /* dark mode */
    background: linear-gradient(#f9d4d4, #9f9cda);
    border: 1px solid #080808;

    /* light mode */
    /* background: linear-gradient(#f9f9f9, #e9fff5); */
    /* border: 1px solid #d4d4d4; */

    padding: 0 20px;
    border-radius: 15px;

    /* position: absolute;
    bottom: 80px; */

    /* Выравниваем ровно по середине */
    margin-left: auto;
    margin-right: auto;
}
.main_menu__item {
    width: auto;
    height: 17px;
}

.main_menu__item:hover {
    cursor: pointer;
}

.main_menu__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
