.feed {
    width: 600px;
    height: 700px;
    /* max-height: 800px; */
    background-color: beige;

    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;

    border-radius: var(--fa-radius);
    background: #f6f2ff;
}

.feed__items {
    width: 70%;
    margin: auto;
    padding-top: 20px;

    display: grid;
    gap: 13px;
}
