.feed {
    width: 800px;
    height: 700px;
    /* max-height: 800px; */
    background-color: beige;

    margin-left: auto;
    margin-right: auto;
    margin: 10px auto;

    border-radius: var(--fa-radius);
    background: #f6f2ff;
}

.feed__header {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-content: center;

    font-size: small;

    margin-bottom: 10px;
}

.feed__header__categories {
    display: flex;
    gap: 100px;

    font-size: medium;
}

.prev {
    cursor: pointer;
}

.next {
    cursor: pointer;
}

.feed__header__item {
    cursor: pointer;
}

.feed__search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.feed__search__field {
    width: 300px;
    height: 25px;

    border-radius: 5px;
    border: none;

    padding-left: 10px;
}
.feed__search__cross {
    cursor: pointer;
}
.feed__items {
}
