.expense {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin: auto 50px;
}
.expense_icon {
   width: 50px;
   height: 50px;
   align-content: center;

   background-color: var(--light-blue-button);
   border-radius: 20px;
}
.expense_content {
   display: flex;
   gap: 10px;
   align-items: center;
}
.expense_title {
   display: grid;
   text-align: start;
}
.expense_category {
   font-size: 17px;
}
.expense_date {
   font-size: 11px;
   color: #0068ff;
}
.expense_sum {
   font-size: 17px;
   font-weight: 500;
}

.loss {
   color: #0068ff;
}
