.feed__header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 15px;
    align-items: center;

    font-size: small;
}

.feed__header__categories {
    display: flex;
    gap: 100px;

    font-size: medium;
}

.prev {
    cursor: pointer;
    width: auto;
    height: 20px;
}

.next {
    cursor: pointer;
    width: auto;
    height: 20px;
}

.feed__header__item {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
