.creation_form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   row-gap: 20px;

   margin-inline: 100px;
   margin-top: 30px;
}

.create_btn {
   align-self: center;

   & button {
      cursor: pointer;
   }
}

.creation_form_error_text {
   color: red;
   font-size: 11px;
   font-weight: 600;

   margin-top: 30px;
}
