.modal_layout {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    top: 0;
    left: 0;

    align-content: center;
}

.modal {
    height: auto;
    width: 400px;

    max-width: 700px;
    max-height: 1000px;

    padding: 20px 30px;
    background-color: var(--background-green-white-and-letters);
    border-radius: 40px;

    text-align: start;
    margin: auto;
}

.modal_header {
    display: flex;
    justify-content: space-between;
}

.modal_title {
    font-size: 18px;
    font-weight: 600;

    cursor: default;
    margin: auto;
}

.modal_close {
    border: 1.5px solid rgb(0, 0, 0);
    align-content: center;
    border-radius: 20px;
    transition: background-color ease-in-out 0.13s;

    cursor: pointer;
}

.modal_close:hover {
    background-color: rgba(255, 113, 113, 0.865);
}
.modal_content {
    cursor: default;

    margin-top: 30px;
}
