.feed_item {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;

    border: 1px solid rgb(114, 114, 114);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(199, 185, 255);

    transition: box-shadow ease-in-out 0.13s;
}

.feed_item:hover {
    box-shadow: 0px 0px 8px rgb(151, 132, 228);
}

.feed_item_appearance {
    display: flex;
    align-items: center;
    gap: 15px;
}

.feed_item_avatar {
    width: auto;
    height: 15px;
    border: 1px solid rgb(114, 114, 114);
    padding: 3px;
    border-radius: 15%;
}
.feed_item_name {
    font-weight: 500;
    font-size: 13px;
}
.feed_item_operation {
    display: flex;
    gap: 5px;
    font-size: smaller;

    margin-right: 40px;

    border: 1px solid rgb(114, 114, 114);
    border-radius: 10px;
    padding: 3px 10px;
}

.feed_item_cross {
    width: auto;
    height: 10px;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 10px;
    padding: 2px;
    transition: background-color ease-in-out 0.13s;
}

.feed_item_cross:hover {
    background-color: rgb(250, 163, 163);
}
