.datepicker_field {
   display: flex;
   flex-direction: column;
   gap: 2px;

   font-weight: 500;
   align-items: flex-start;
}
.datepicker_field_label {
   font-size: 14px;
   font-weight: 500;

   margin-left: 9px;
}

.datepicker_field_area {
   border: none;

   padding: 9px 15px;
   font-size: 14px;
   min-width: 270px;

   border-radius: 18px;
   background-color: var(--light-green);

   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: space-between;
}

.calendar_icon {
   padding: 0.2rem 0.2rem;
   background-color: var(--main-green);
   border-radius: 7px;
}

.calendar {
   position: absolute;

   width: 270px;
   height: 200px;

   background-color: white;
   border-radius: 10px;
   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.07);
   border: 1px solid rgba(0, 0, 0, 0.146);

   margin-top: 3px;
   z-index: 10;
}

.calendar__head {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 7px 10px;

   & .arrow {
      width: auto;
      width: 19px;

      cursor: pointer;
   }

   & .calendar__month_year_current {
      font-size: 14px;
      font-weight: 600;
   }
}

.calendar_most_usable {
   display: flex;
   justify-content: center;
   gap: 7px;
   padding: 7px;

   border-bottom: 1px solid rgba(0, 0, 0, 0.062);
   border-top: 1px solid rgba(0, 0, 0, 0.062);
}

.calendar_button {
   font-family: 'Montserrat', sans-serif;
   border: none;
   background-color: var(--light-green);

   border-radius: 15px;
   padding: 3px 10px;

   font-weight: 500;

   cursor: pointer;
}

.days {
   margin: 10px 10px;

   display: flex;
   flex-wrap: wrap;
   gap: 3px;
}

.calendar_day_button {
   width: 25px;
   height: 25px;
   align-items: center;
   padding: 0;

   font-family: 'Montserrat', sans-serif;
   border: none;
   background-color: var(--background-green-white-and-letters);

   border: 1px solid rgba(0, 0, 0, 0.133);
   border-radius: 5px;

   font-weight: 500;

   cursor: pointer;
}

.selected {
   background-color: var(--main-green);
}
