.sum {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;

    font-family: "Science Gothic", sans-serif;
    font-weight: 500;

    margin-left: auto;
    margin-right: auto;

    cursor: default;
}
