.hint_block {
    --hint-color: rgb(238, 238, 238);
    display: grid;

    position: absolute;
}

.hint {
    max-width: 230px;
    background-color: var(--hint-color);
    box-shadow: var(--hint-shadow);
    border-radius: 15px;

    font-size: 8px;
    padding: 1px 10px;

    cursor: default;
    text-align: justify;
}
.hint__content {
}

.hint__tail {
    margin-left: auto;
    margin-right: auto;

    border: 5px solid transparent;
    border-top: 4px solid var(--hint-color);
}
