.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   background-color: var(--main-green);

   margin: 20px 20px;

   cursor: default;
}
.header_greetings {
   display: grid;
   text-align: start;
   line-height: 17px;
}
.header_welcome {
   font-size: 23px;
   font-weight: 700;
   text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.169);
}
.header_welcome_day {
   font-size: 14px;
}

.notification_btn {
   cursor: pointer;
}
