.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 358px;
    height: 58px;
    background-color: var(--light-green);
    border-radius: 22px;

    margin: 10px auto;
}
.period {
    margin: 12px 14.5px;
    width: 95px;

    cursor: pointer;
}
.period-selected {
    border-radius: 20px;
    background-color: var(--main-green);
    padding: 13.5px 5.5px;

    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.199);
}
