@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap");

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.app {
    width: 500px;
    height: 750px;

    background-color: var(--main-green);
    border-radius: 40px;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.226);
    margin: auto;
}

.top_side {
    padding: 10px 10px;
}

.bottom_side {
    background-color: #f1fff3;
    padding-top: 3px;
    height: 565px;

    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.feed {
    margin-top: 30px;
    display: grid;
    gap: 15px;
}
