@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap");

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.app {
    width: 500px;
    height: 750px;

    padding: 10px 10px;

    background-color: var(--main-green);

    border-radius: 40px;
}
