.creation_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.create_btn {
    align-self: center;

    & button {
        cursor: pointer;
    }
}
